# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.7.6

## Exercícios Cap02

In [49]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
exercise1 = [1,2,3,4,5,6,7,8,9,10]
print(exercise1)

exercise1_2 = []
for exercise1_2 in range(0,10):
    print([exercise1_2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0]
[1]
[2]
[3]
[4]
[5]
[6]
[7]
[8]
[9]

In [7]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
exercise = [7, "Júlia", "Caderno", "PS5", 9]
print(exercise)

[7, 'Júlia', 'Caderno', 'PS5', 9]

In [10]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
string1 = "Pomada"
string2 = "Avon"
string3 = "LG"
string4 = string1 + string2 +string3
print(string4)

PomadaAvonLG

In [17]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tup = (1, 2, 2, 3, 4, 4, 4, 5)
print(tup)
coun_t = tup.count(4)
print(coun_t)

(1, 2, 2, 3, 4, 4, 4, 5)
3

In [19]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

empt = {}
empt = dict()
print(empt)

{}

In [26]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dic_t1 = {"k1": "Guardiola","k2": "Klopp","k3":"Ortega"}
print(dic_t1)

{'k1': 'Guardiola', 'k2': 'Klopp', 'k3': 'Ortega'}

In [31]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

print(dic_t1)
dic_t1['K4'] = 'Simeone'
print(dic_t1)

{'k1': 'Guardiola', 'k2': 'Klopp', 'k3': 'Ortega', 'K4': 'Simeone'}
{'k1': 'Guardiola', 'k2': 'Klopp', 'k3': 'Ortega', 'K4': 'Simeone'}

In [36]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dic_t = dict()
dic_t['K1'] = 'Huxley'
dic_t['K2'] = 'Hamilton'

dic_t['K3'] = [100, 200]

dic_t

{'K1': 'Huxley', 'K2': 'Hamilton', 'K3': [100, 200]}

In [46]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

lis_t = list()
lis_t

lis_t.insert(0,'Batata')
lis_t

lis_t.insert(1, ('Alçafrão', 'Noz Moscada'))
lis_t

lis_t.insert(2,{'K1':'Soja','K2':'Cenoura'})
lis_t

lis_t.insert(3,float(2.10))
lis_t

['Batata', ('Alçafrão', 'Noz Moscada'), {'K1': 'Soja', 'K2': 'Cenoura'}, 2.1]

In [48]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

print(frase)

print(frase[0:19])

Cientista de Dados é o profissional mais sexy do século XXI
Cientista de Dados

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>